/* 

	----  H O M E P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.homepage-banner {
	background-image: url("https://bluecolty.com/web-images-homepage/homepage-banner.jpg");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#homepage-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../web-images-sidewide/sitewide-footer-banner.png");
}

.container img {
    transition: transform 0.3s ease;
}

.container img:hover {
    transform: scale(1.05);
}