/* 

	----  U N I V E R S A L   T E X T   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* GENERAL TEXT EDITING */
.text-align-center {
	text-align: center;
}


/* HTML TAG EDITING */
h1 {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/* ################ */

/* FOOTER TEXT */

.title-footer-text {
	font-size: 30px;
	color: white;
	text-shadow: 0px 0px 10px black;
	padding-bottom: 5%;
}
.small-footer-text {
	font-size: 12px;
	color: white;
	text-align: center;
	padding-top: 10px;
}

.regular-footer-text {
	text-align: center;
	color: white;
	font-size: 15px;
}

.large-footer-text {
	font-size: 20px;
	color: white;
	text-shadow: 0px 0px 10px black;
}

@media only screen and (min-width: 0px) and (max-width: 767px){
	.title-footer-text, .large-footer-text {
		text-align: center;
	}

	.title-footer-text {
		font-size: 20px;
	}

	.large-footer-text {
		font-size: 15px;
	}

	.regular-footer-text {
		font-size: 10px;
	}

	.small-footer-text {
		font-size: 10px;
	}
}

/*
.large-footer-text li {
	list-style-type: '> ';
}
*/

footer a,span {
	color: white;
}

footer a:hover {
	color: #83B9EC;
}

/* ################ */

/*BODY CLASS TEXT */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
/* ################ */