/* 

	----  	A N I M A T I O N S   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.animations-banner {
	background-image: url("../web-images-blender-projects/animations-page/animations-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#animations-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../web-images-blender-projects/animations-page/animations-footer-banner.png");
}
