/* 

	----  B L E N D E R   T U T O R I A L S   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.blender-banner {
	background-image: url("../web-images-tutorials-page/blender-page/blender-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#blender-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../../web-images-sidewide/sitewide-footer-banner.png");
}