/* 

	----  D O W N L O A D S   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.downloads-banner {
	background-image: url("../web-images-downloads/downloads-banner.jpg");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#downloads-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../../web-images-sidewide/sitewide-footer-banner.png");
}

/* MISC */

.container img {
    transition: transform 0.3s ease;
}

.container img:hover {
    transform: scale(1.05);
}