/* 

	----  D O W N L O A D s   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.downloads-banner {
	background-image: url("/web-images-downloads/downloadables-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#downloads-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../../web-images-sidewide/sitewide-footer-banner.png");
}

/* TEMPORARY */
