/* 

	----  2 D   A R T   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.twod-art-banner {
	background-image: url("../web-images-2d-art-page/2d-art-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#twod-art-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../../web-images-sidewide/sitewide-footer-banner.png");
}