/* 

	----  E B A Y   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.ebay-banner {
	background-image: url("/web-images-ebay-page/ebay-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#ebay-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("/web-images-ebay-page/ebay-footer-banner.png");
}