/* 

	----  L I N K S   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

:root {
	--gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%);
}

/* BANNER IMAGE */
.links-banner {
	background-image: url("../web-images-links-page/links-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#links-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../../web-images-sidewide/sitewide-footer-banner.png");
}
  
.btn-custom {
	border: 1px solid;
	border-image-slice: 1;
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-image-source:  var(--gradient); 
	text-decoration: none;
	transition: all .4s ease;
	display: inline-block;
	text-align: center;
    vertical-align: middle;
    cursor: pointer;
	padding: 5.375rem 2.75rem;
	text-decoration: none;
	font-size: 20px;
}
  
.btn-custom:hover, .btn-custom:active {
	background: var(--gradient);
	-webkit-background-clip: none;
	-webkit-text-fill-color: #fff;
	box-shadow: #222 1px 0 10px;
	text-decoration: none;
}

.sc-button-icon {
	max-height: 40px;
}