/* 

	----  L I N K S   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.links-banner {
	background-image: url("/web-images-links-page/links-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#links-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("/web-images-links-page/links-footer-banner.png");
}