/* 

	----  S T I L L S   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.stills-banner {
	background-image: url("../web-images-stills/stills-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#stills-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../web-images-stills/footer-banner.png");
}
