/* 

	----  	3 D   A N I M A T I O N S   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.animations-banner {
	background-image: url("../3d-animations/web-images-3d-animations-page/3d-animations-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#animations-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("../../web-images-sidewide/sitewide-footer-banner.png");
}
