/* 

	----  C O M M I S S I O N S   P A G E   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- 

*/

/* BANNER IMAGE */
.commissions-banner {
	background-image: url("/web-images-commissions-page/commissions-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

#commissions-banner-id {
	padding-top: 20%;
	padding-bottom: 20%;
}

/* FOOTER */
.upper-footer-background {
	background-image: url("/web-images-commissions-page/commissions-footer-banner.png");
}